# Ignore environment files
.env

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore dataset backups
*.csv
*.xlsx

# Ignore virtual environment
venv/
env/

# Ignore IDE/editor settings
.vscode/
.idea/
